<footer class="footer">
	<div class="level">
		<div class="level-item has-text-centered">
			<div>
				<h4 class="heading">Contact Me</h4>
				<a
					id="email"
					class="has-text-dark"
					[href]="'mailto:' + email"
					title="Email Address"
					>{{ email }}</a
				>
			</div>
		</div>
	</div>
	<div class="level">
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://www.linkedin.com/in/elliotleelewis"
				rel="noopener"
				target="_blank"
			>
				<i
					class="fab fa-3x fa-linkedin"
					title="LinkedIn"
					aria-hidden="true"
				></i>
				<span class="sr-only">LinkedIn</span>
			</a>
		</div>
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://github.com/elliotleelewis"
				rel="noopener"
				target="_blank"
			>
				<i
					class="fab fa-3x fa-github"
					title="GitHub"
					aria-hidden="true"
				></i>
				<span class="sr-only">GitHub</span>
			</a>
		</div>
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://twitter.com/elliotleelewis"
				rel="noopener"
				target="_blank"
			>
				<i
					class="fab fa-3x fa-twitter"
					title="Twitter"
					aria-hidden="true"
				></i>
				<span class="sr-only">Twitter</span>
			</a>
		</div>
	</div>
</footer>
