<footer class="footer">
	<div class="level">
		<div class="level-item has-text-centered">
			<div>
				<h4 class="heading">Contact Me</h4>
				<a
					class="has-text-dark"
					[href]="'mailto:' + email"
					title="Email Address"
					>{{ email }}</a
				>
			</div>
		</div>
	</div>
	<div class="level">
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://www.linkedin.com/in/elliotleelewis"
				title="LinkedIn"
				rel="noopener"
			>
				<i class="fab fa-3x fa-linkedin"></i>
			</a>
		</div>
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://github.com/elliotleelewis"
				title="GitHub"
				rel="noopener"
			>
				<i class="fab fa-3x fa-github"></i>
			</a>
		</div>
		<div class="level-item has-text-centered">
			<a
				class="icon is-large has-text-dark"
				href="https://twitter.com/elliotleelewis"
				title="Twitter"
				rel="noopener"
			>
				<i class="fab fa-3x fa-twitter"></i>
			</a>
		</div>
	</div>
</footer>
