<nav class="navbar is-lowercase" role="navigation">
	<div class="navbar-brand has-text-weight-bold">
		<a
			class="navbar-item is-family-secondary has-addon-period has-text-weight-black"
			[routerLink]="''"
			>Elliot Lewis</a
		>
		<a
			role="button"
			class="navbar-burger burger"
			[ngClass]="{ 'is-active': menuOpen }"
			tabindex="0"
			aria-label="menu"
			[attr.aria-expanded]="menuOpen"
			(click)="menuOpen = !menuOpen"
			(keydown.enter)="menuOpen = !menuOpen"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div
		class="navbar-menu has-text-weight-light"
		[ngClass]="{ 'is-active': menuOpen }"
	>
		<div class="navbar-end">
			<a class="navbar-item" tabindex="0" href="#projects" pageScroll
				>Projects</a
			>
			<a class="navbar-item" tabindex="0" href="#work" pageScroll>Work</a>
			<a class="navbar-item" tabindex="0" href="#education" pageScroll
				>Education</a
			>
		</div>
	</div>
</nav>
