---
import Bio from '../content/Bio.astro';
import Educations from '../content/Educations.astro';
import Experiences from '../content/Experiences.astro';
import Footer from '../content/Footer.astro';
import Header from '../content/Header.astro';
import Links from '../content/Links.astro';
import Skills from '../content/Skills.astro';
import Layout from '../layout/Layout.astro';

import '../styles/global.css';
---

<Layout title="Elliot Lewis">
	<main
		class="container mx-auto flex min-h-screen flex-col gap-4 p-8 sm:py-16 md:flex-row md:px-16"
	>
		<div class="flex basis-3/4 flex-col gap-4 md:grow">
			<Header />
			<Experiences />
			<Educations />
		</div>
		<div class="flex basis-1/4 flex-col gap-4 md:grow">
			<Skills />
			<Bio />
			<Links />
			<Footer />
		</div>
	</main>
</Layout>
