---
import Card from '../components/Card.astro';
---

<Card small justify>
	<p class="mb-1">Hello! 👋</p>
	<p>
		I’m a passionate and results-driven frontend engineer with over 6 years
		of working experience, creating both enterprise and consumer-facing web
		applications. I thrive leading projects and teams, and have a
		track-record of launching successful products whilst delivering highly
		maintainable solutions.
	</p>
</Card>
