---
import { Image } from 'astro:assets';

import Card from '../components/Card.astro';
import ExternalIcon from '../components/ExternalIcon.astro';
import Record from '../components/Record.astro';
import jabil from '../media/jabil.svg';
import snap from '../media/snap.svg';
import stubhub from '../media/stubhub.svg';
---

<Card>
	<div class="flex flex-col gap-4">
		<Record
			title="Senior Software Engineer"
			entity="StubHub"
			place="Los Angeles, California"
			from="Apr 2024"
			to="Present"
		>
			<div slot="logo" class="mr-4 rounded bg-[#46009b] p-2">
				<Image
					src={stubhub}
					class="size-8"
					alt="StubHub logo."
					width={32}
					height={32}
				/>
			</div>
		</Record>
		<Record
			title="Software Engineer"
			entity="Snap Inc"
			place="Los Angeles, California"
			from="Aug 2021"
			to="Feb 2024"
		>
			<div slot="logo" class="mr-4 rounded bg-[#fffc00] p-2">
				<Image
					src={snap}
					class="size-8"
					alt="Snap Inc logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4 lg:pl-0">
				<li>
					Led the Event Insights project end-to-end across three
					teams, patented (<a
						class="group relative inline-block outline-none hover:underline focus:ring"
						href="https://patents.google.com/patent/US11894989B2/en"
						target="_blank"
						rel="noopener noreferrer"
						><span>US11894989B2</span><ExternalIcon /></a
					>), and presented its successful launch at Snap Partner
					Summit 2022, giving Lens Creators new metrics about their
					lenses.
				</li>
				<li>
					Established an engagement-based monthly payout program for
					Lens creators by leading the cross-functional engineering
					effort across four teams, paying out hundreds of thousands
					of dollars, driving Lens Submission rates up by 300% within
					the first month of the launch.
				</li>
				<li>
					I continued to focus on creator monetisation by building
					tooling within My Lenses for lens creators to manage their
					digital goods and an internal payout system, allowing some
					creators to earn thousands of dollars monthly and our teams
					to pay them out.
				</li>
				<li>
					I diligently optimised My Lenses, resulting in a ~40%
					improvement in app load times. Set up real-time error
					reporting and alerting, reducing mean resolution time for
					production issues to less than 2 hours. Additionally, I
					increased the E2E test coverage of our My Lenses P0 test
					cases from 20% to 75%, enabling us to release with a faster
					cadence. These efforts enhanced the overall quality and
					reliability of My Lenses.
				</li>
				<li>
					Mentored junior engineers on the team and had an assigned
					apprentice to help work on My Lenses.
				</li>
			</ul>
		</Record>
		<Record
			title="Senior Software Engineer"
			entity="Jabil"
			place="St Petersburg, Florida"
			from="May 2019"
			to="Aug 2021"
		>
			<div slot="logo" class="mr-4 rounded bg-[#002b49] p-2">
				<Image
					src={jabil}
					class="size-8"
					alt="Jabil logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4 lg:pl-0">
				<li>
					I initially joined a sprint team on the JEMSmm project (part
					of the Factory of the Future initiative) as a full-stack
					developer, building Angular FEs and writing ASP.NET Core
					APIs.
				</li>
				<li>
					Became our de-facto front-end architect, leading the
					direction we take our UIs across all of our 10+ teams during
					the regionalisation project, where we took our array of
					on-prem FEs and combined them into a single regional cloud
					application that would support entire regions.
				</li>
				<li>
					I re-kindled our UI/UX Community group, becoming one of the
					UI/UX leads for the whole of the Factory of the Future
					initiative.
				</li>
				<li>
					I started the first inner-sourced venture at Jabil, an
					Angular component library usable by any application team
					inside the company.
				</li>
				<li>
					Grew into a tech lead role for an architectural front-end
					team within the Factory of the Future initiative, leading a
					team of 7 engineers to re-design each screen within our main
					450k+ LOC application.
				</li>
				<li>
					Highlighted by May Yap (Jabil's CIO) for Technical
					Expertise.
				</li>
			</ul>
		</Record>
		<Record
			title="Software Engineer"
			entity="Jabil"
			place="Livingston, Scotland"
			from="May 2017"
			to="Sep 2018"
		>
			<div slot="logo" class="mr-4 rounded bg-[#002b49] p-2">
				<Image
					src={jabil}
					class="size-8"
					alt="Jabil logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4 lg:pl-0">
				<li>
					I developed a fully-featured UI Package library in Angular
					that our team used across all FEs in iFactory.
				</li>
				<li>
					I worked in partnership with a Microsoft team, where I came
					on as a front-end developer, helping develop an Angular FE
					to interface with the ASP.NET Core API they had built.
				</li>
			</ul>
		</Record>
	</div>
</Card>
