---
import { Image } from 'astro:assets';

import Card from '../components/Card.astro';
import Record from '../components/Record.astro';
import jabil from '../media/jabil.svg';
import snap from '../media/snap.svg';
---

<Card>
	<div class="flex flex-col gap-4">
		<Record
			title="Software Engineer"
			entity="Snap Inc"
			from="Aug 2021"
			to="Feb 2024"
		>
			<div slot="logo" class="mr-4 rounded bg-[#fffc00] p-2">
				<Image
					src={snap}
					class="size-8"
					alt="Snap Inc logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4">
				<li>
					Joined the Developer Success team as a front-end engineer,
					working on adding new functionality to the My Lenses
					application.
				</li>
				<li>
					Led the Event Insights project end-to-end, successfully
					launching at Snap Partner Summit 2022, giving Lens Creators
					new metrics about the usage of their lenses.
				</li>
			</ul>
		</Record>
		<Record
			title="Senior Software Engineer"
			entity="Jabil"
			from="May 2019"
			to="Aug 2021"
		>
			<div slot="logo" class="mr-4 rounded bg-[#002b49] p-2">
				<Image
					src={jabil}
					class="size-8"
					alt="Jabil logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4">
				<li>
					Initially joined a sprint team on the JEMSmm project (part
					of the Factory of the Future initiative) as a full-stack
					developer, building Angular SPAs and writing ASP.NET Core
					APIs.
				</li>
				<li>
					Became our unofficial front-end architect, helping to decide
					which direction we should take with our UIs.
				</li>
				<li>
					Re-kindled our UI/UX Community group, becoming one of the
					UI/UX leads for the whole of the Factory of the Future
					initiative.
				</li>
				<li>
					Started the first inner-sourced venture at Jabil, an Angular
					component library usable by any application team inside the
					company.
				</li>
				<li>
					Helped drive functional/design standards across our UIs, to
					ensure all Jabil teams follow best practices.
				</li>
				<li>
					Grew into a tech lead position for an architectural
					front-end team within the Factory of the Future initiative.
				</li>
				<li>
					Recognised by May Yap (Jabil's CIO) for Technical Expertise.
				</li>
			</ul>
		</Record>
		<Record
			title="Software Engineer"
			entity="Jabil"
			from="May 2017"
			to="Sep 2018"
		>
			<div slot="logo" class="mr-4 rounded bg-[#002b49] p-2">
				<Image
					src={jabil}
					class="size-8"
					alt="Jabil logo."
					width={32}
					height={32}
				/>
			</div>
			<ul class="list-disc pl-4">
				<li>
					Developed a fully-featured UI Package library for use across
					all of the SPAs in the iFactory project, written in Angular.
					Additionally, I set up automated deployment of that library
					through Azure DevOps to an internally-hosted NPM registry
					that used the Verdaccio platform.
				</li>
				<li>
					Led a project that I worked on with another developer that
					used a NodeJS + Express web server and an Angular SPA that
					interfaced with Octopus Deploy.
				</li>
				<li>
					Worked in partnership with a Microsoft team, where I came on
					as a front-end developer, helping develop an Angular SPA to
					interface with the ASP.NET Core API that they had built.
				</li>
				<li>
					Briefly worked on a PoC React Native app that provided an
					alternate interface for the iFactory project.
				</li>
			</ul>
		</Record>
	</div>
</Card>
