---
const year = new Date().getFullYear();
---

<div class="text-center text-slate-800/75">
	&copy; <span id="year">{year}</span> Elliot Lewis
</div>

<script>
	const el = document.getElementById('year');
	const year = new Date().getFullYear();
	if (el) {
		el.innerHTML = String(year);
	}
</script>
