---
import Pill from '../components/Pill.astro';
---

<div class="flex flex-wrap gap-2">
	<Pill>TypeScript</Pill>
	<Pill>JavaScript</Pill>
	<Pill>React</Pill>
	<Pill>Angular</Pill>
	<Pill>Styled Components</Pill>
	<Pill>GraphQL</Pill>
	<Pill>NodeJS</Pill>
	<Pill>Git</Pill>
</div>
