---
import Pill from '../components/Pill.astro';
---

<div class="flex flex-wrap gap-2">
	<Pill>JavaScript</Pill>
	<Pill>TypeScript</Pill>
	<Pill>React</Pill>
	<Pill>Angular</Pill>
	<Pill>SCSS</Pill>
	<Pill>Tailwind</Pill>
	<Pill>Styled Components</Pill>
	<Pill>GraphQL</Pill>
	<Pill>gRPC</Pill>
	<Pill>NodeJS</Pill>
	<Pill>Vite</Pill>
	<Pill>Vitest</Pill>
	<Pill>Jest</Pill>
	<Pill>Playwright</Pill>
	<Pill>Git</Pill>
</div>
