---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	href={href}
	target="_blank"
	rel="noopener noreferrer"
	class="group relative text-slate-950/80 outline-none hover:text-slate-700/80 focus:text-slate-700/80 focus:ring active:text-slate-900/80 dark:text-slate-50/80 dark:hover:text-slate-300/80 dark:focus:text-slate-300/80 dark:active:text-slate-100/80"
>
	<slot />
	<svg
		class="absolute -right-2 -top-2 hidden size-3 group-hover:block group-focus:block"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		fill="none"
		stroke-width="1.5"
		stroke="currentColor"
		aria-hidden="true"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
		></path>
	</svg>
</a>
