---
interface Props {
	title: string;
	entity: string;
	from: string;
	to?: string;
}

const { title, entity, from, to = 'Present' } = Astro.props;
---

<div class="flex">
	<div class="shrink-0"><slot name="logo" /></div>
	<div class="w-full">
		<h3 class="text-xl font-bold leading-none">{title}</h3>
		<div
			class="flex items-center justify-between gap-2 text-sm font-light uppercase tracking-widest opacity-50"
		>
			<h4 class="text-start">{entity}</h4>
			<div class="text-end">{from} - {to}</div>
		</div>
	</div>
</div>
