@use 'sass:color';

// Imports
@import '../../../../../vars';

// Styles
svg {
	cursor: pointer;

	transform: rotate(-9deg);

	max-block-size: 50vh;

	filter: drop-shadow(0.5rem 0.5rem 1rem color.adjust($black, $alpha: -0.5));
	outline: none;

	transition: all $speed ease-in-out;

	&:hover,
	&:active,
	&:focus {
		transform: rotate(-9deg) translateX(-0.25rem) translateY(-0.25rem);
		filter: drop-shadow(
			1.5rem 1.5rem 1.25rem color.adjust($black, $alpha: -0.75)
		);
	}
}
