// ---- Imports ----
@import './vars';
@import 'bulma/bulma';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

// ---- Styles ----
// Blockquote
.blockquote {
	.text {
		&:before {
			content: '';
		}

		&:after {
			content: '';
		}
	}

	.footing {
		@extend .heading;

		&:before {
			content: '\2014\00A0';
		}
	}
}

// ---- Helpers ----
.has {
	// Add-on
	&-addon {
		&-period {
			&:after {
				content: '.' !important;
			}
		}
	}

	// Background
	&-background {
		&-fixed {
			background-attachment: fixed !important;
		}
	}

	// Font
	&-text {
		&-weight {
			&-black {
				font-weight: $weight-black !important;
			}
		}
	}
}

.is {
	// Flex
	&-flex {
		&-grow {
			flex-grow: 1 !important;
		}

		&-shrink {
			flex-shrink: 1 !important;
		}
	}

	// Overflow
	&-overflow-y {
		&-auto {
			overflow-y: auto !important;
		}
	}
}
