on:
  pull_request:
    types:
      - edited
  push:
    branches:
      - main
  schedule:
    - cron: '0 0/6 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: renovatebot/github-action@v44.0.4
        with:
          configurationFile: ./renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
