<div
	id="background"
	class="pattern-cross fixed inset-0 -z-10 block select-none mix-blend-overlay pattern-slate-500 pattern-bg-slate-950 pattern-size-8"
>
</div>

<script>
	const scaleFactor = -0.05;
	const el = document.getElementById('background');
	const { matches: prefersReducedMotion } = window.matchMedia(
		'(prefers-reduced-motion: reduce)',
	);

	if (el && !prefersReducedMotion) {
		document.body.addEventListener('mousemove', (event: MouseEvent) => {
			const { clientX, clientY, currentTarget } = event;
			if (!(currentTarget instanceof HTMLElement)) {
				return;
			}

			const rect = currentTarget.getBoundingClientRect();
			const offsetX = clientX - rect.left;
			const offsetY = clientY - rect.top;
			el.style.backgroundPositionX = `${offsetX * scaleFactor}px`;
			el.style.backgroundPositionY = `${offsetY * scaleFactor}px`;
		});
	}
</script>
