<div
	id="background"
	class="fixed inset-0 -z-10 block bg-slate-950/50 mix-blend-overlay select-none"
>
	<!-- TODO - Add back a TailwindCSS pattern to this background. -->
</div>

<script>
	import { px } from '../utils/px';

	const scaleFactor = -0.05;
	const el = document.getElementById('background');
	const { matches: prefersReducedMotion } = window.matchMedia(
		'(prefers-reduced-motion: reduce)',
	);

	if (el && !prefersReducedMotion) {
		el.style.backgroundPositionX = '0px';
		el.style.backgroundPositionY = '0px';
		document.body.addEventListener(
			'mousemove',
			({ clientX, clientY, currentTarget }: MouseEvent) => {
				if (!(currentTarget instanceof HTMLElement)) {
					return;
				}

				const rect = currentTarget.getBoundingClientRect();
				const offsetX = (clientX - rect.left) * scaleFactor;
				const offsetY = (clientY - rect.top) * scaleFactor;
				el.style.backgroundPositionX = px(offsetX);
				el.style.backgroundPositionY = px(offsetY);
			},
		);
	}
</script>
