---
import Analytics from './Analytics.astro';
import Background from './Background.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
	lang="en"
	class="bg-stone-950 bg-gradient-to-tr from-blue-200 to-cyan-200 font-sans text-slate-950/75 dark:from-blue-800 dark:to-cyan-800 dark:text-slate-50/75"
>
	<head>
		<meta charset="utf8" />
		<meta name="description" content="Software Engineer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<slot />
		{import.meta.env.PROD && <Analytics />}
	</body>
</html>
