---
import Background from './Background.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
	lang="en"
	class="bg-gradient-to-tr from-blue-600 to-white bg-[size:400%] font-sans"
>
	<head>
		<meta charset="utf8" />
		<meta name="description" content="Software Engineer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Background />
		<slot />
	</body>
</html>
